.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 45%;
  height: 45%;
  background-color:  white;
  box-shadow: 1em
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;
  text-align: center;
}

.button-title {
  width: 100%;
  margin-bottom: 3em;
}

.button {
  width: 50%;
  margin: 1em;
  padding: 1em;
}

span.MuiButton-label-73 span.MuiTouchRipple-root-63 {
  pointer-events: none;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  box-orient: horizontal;
}

.Sidebar {
  width: 25%;
  min-width: 240px; 
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5em;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  height: 20%;
}

.MobileHeader {
  display: none;
}

.App-title {
  font-size: 1.5em;
}

form {
  background-color: white;
  height: 8%;
}

input {
  width:90%;
  font-size: 1.25em;
  padding-top: 6%;
  margin-bottom: 2%;
  border: none;
  outline: none;
}

.sidebarList {
  height: 60%;
  overflow: auto;
  background-color: white;
}

.footer {
  height: 10%;
  background-color: #222;
}

.citiesList {
  font-size: large;
  color: white;
  background-color: blue;
  padding: 2em;
  /* height: 100%; */
}

div.clickMe span, div.clickMe div, div.clickMe div svg, div.clickMe path {
  pointer-events: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map {
    width: 75% !important
  }

.infoWindow {
  min-width: 500px;
  min-height: 350px;
}

/* responsive css for the screen widths at which the sidebar is governed by min-width */
@media screen and (min-width: 781px) and (max-width: 959px) {
  .map {
    width: calc(100% - 240px) !important
  }
}

/* responsive css for mobile devices */
@media screen and (max-width: 780px) {
  .App {
  display: block;
  }
  .App-header {
    display: none;
  }
  .MobileHeader {
    position: relative;
    height: 10vh;
    background-color: #222;
    color: white;
    display: block;
    text-align: center;
  }
  .sidebarToggle {
    display: inline-block;
    float: left;
    margin-top: 1em;
    margin-left: 0.5em;
  }
  .MobileHeaderText {
    display: inline-block;
    margin-top: 1em;
    margin-right: 1em;
  }
  .map {
    position: relative;
    width: 100% !important;
    height: 90vh !important;
  }
  .Sidebar {
    width: 75%;
    height: 80%;
    left: -1000px;
    position: absolute;
    z-index: 100;
    transition: left 1s ease-in; 
    /* overflow: hidden; */
  }
  .sidebarList {
    height: 90%;
  }
  .SidebarShow {
    width: 75%;
    height: 80%;
    left: 0;
    position: absolute;
    z-index: 100;
    transition: left 1s ease-out; 
  }
  .App-logo, .footer {
    display: none;
  }
  .App-header {
    height: 10% !important;
  }
}

/* responsive css for infoWindows on mobiles */
@media screen and (max-width: 420px) {
  .infoWindow {
    min-width: 300px;
    min-height: 200px;
    max-width: 350px;
  }
  .infoWindow img {
    width: 300px;
    height: auto;
  }
  .MobileHeaderText {
    font-size: 130%
  }
}

@media screen and (max-width: 360px) {
  .infoWindow {
    min-width: 200px;
    min-height: 100px;
    max-width: 250px;
  }
  .infoWindow img {
    width: 250px;
    height: auto;
  }
  .MobileHeaderText {
    font-size: 110%
  }
}