.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  box-orient: horizontal;
}

.Sidebar {
  width: 25%;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.MobileHeader {
  display: none;
}

.App-title {
  font-size: 1.5em;
}

form {
  /* padding: 1em; */
  background-color: white;
}

input {
  width:90%;
  font-size: 1.25em;
  padding: 6% 5%;
  border: none;
  outline: none;
}

.citiesList {
  font-size: large;
  color: white;
  background-color: blue;
  padding: 2em;
  /* height: 100%; */
}

div.clickMe span, div.clickMe div, div.clickMe div svg, div.clickMe path {
  pointer-events: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map {
  width: 75% !important
}

.infoWindow{
  min-width: 500px;
  min-height: 350px;
}

/* responsive css for phones */
@media screen and (max-width: 420px) {
.App {
  display: block;
}
.MobileHeader {
  position: relative;
  height: 10vh;
  background-color: #222;
  color: white;
  display: block;
  text-align: center;
  /* padding: 0; */
}
.sidebarToggle {
  display: inline-block;
  float: left;
  margin-top: 1em;
  margin-left: 0.5em;
}
.MobileHeaderText {
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
}
.map {
  position: relative;
  width: 100% !important;
  height: 90vh !important;
}
.infoWindow {
  max-width: 50%;
  max-height: 90%;
}
.Sidebar {
  width: 75%;
  height: 100vh;
  left: -1000px;
  position: absolute;
  z-index: 100;
}
.SidebarShow {
  width: 75%;
  height: 100vh;
  left: 0;
  position: absolute;
  z-index: 100;
}
.App-logo {
  display: none;
}
.App-header {
  height: 10% !important;
}
}
